# Ignore everything in the venv directory
venv/

# Ignore everything in the keys directory
keys/

# Ignore everything in the logs directory
logs/

# Ignore everything in the __pycache__ directory
__pycache__/